<meta charset="utf-8">
<title>Gnome @</title>
<meta name="description" content="You always have a Gnome at home no matter where you roam!">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="Codeply">
<!-- Bootstrap 4 Alpha -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

<!-- Animate CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<!-- Ionicons CSS -->
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<!-- Custom Stylesheet -->
<link rel="stylesheet" href="css/styles.css">

<!-- Spinner CSS -->
<link rel="stylesheet" href="css/spinner.css">

</head>
<body class="bg-faded">

<!-- Spinner container -->
<div class="spinner-div"></div>

<!--======== SIGN IN MODAL ==========-->
<div id="signinModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-xs-center">
                <form action="/Session/loginUser" method="POST" class="form-group">
                    <h2> Please Sign In... </h2>
                    <input type="text"  class="form-control" id="signin-email" name="email" placeholder="Email Address"/>
                    <br>
                    <input type="password" class="form-control" id="signin-password" name="password" placeholder="Password"/>
                    <br>
                    <input type="submit" class="btn btn-md btn-primary" value="Sign In"/>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Splash Page -->

<header id="first">
    <div id="carousel-example-generic " class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="images/matryoshka.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="images/italy.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="images/home.jpg" alt="Third slide">
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <div class="header-content" id="splash">
            <div class="inner">
                <br>
                <h1>Gnome @ Home</h1>
                <br>
                <h5 class="wow fadeIn text-normal wow fadeIn">You always have a Gnome at home no matter where you roam!</h5>
                <br>
                <a href="#register" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3">Register</a>
                <br>
                <br>
            </div>
        </div>
    </div>

</header>

<!-- Nav Bar -->

<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <button class="navbar-toggler hidden-md-up float-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            ☰
        </button>
        <a class="navbar-brand page-scroll" href="#first">Gnome @ Home</a>
        <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#one">Our Gnomes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#two">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#last">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" data-toggle="modal" title="Sign In Modal" href="#signinModal">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Our Gnomes -->

<section id="one">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="m-t-0 text-primary">Our Gnomes</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="card-group">
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample13.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Gnome One</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec scelerisque libero.</p>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample19.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Gnome Two</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec scelerisque libero.</p>
                </div>
            </div>
            <!-- card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample14.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Gnome Three</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec scelerisque libero.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Register-->

<section id="register" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-xs-center">
                <h2 class="margin-top-0 wow fadeIn text-primary">Register</h2>
                <hr class="primary">
                <p>You have a Gnome, let's bring him Gnome home.</p>
            </div>
            <div class="col-lg-10 offset-lg-1 text-xs-center">
                <form id="reg-form" action="/Users/addUser/" method="POST">
                    <div class="form-group">
                        <!--EMAIL ADDRESS-->
                        <div class="col-md-6">
                            <label for="emailAddress"></label>
                            <input id="reg-email" name="email" value="" type="email" class="form-control pull-left" aria-describedby="emailHelp" placeholder="Enter email">
                            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                        </div>
                    </div>

                    <!--PASSWORD-->
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="userPassword"></label>
                            <input id="reg-password" name="password" value="" type="password" class="form-control" id="userPassword" placeholder="Password">
                        </div>
                    </div>

                    <!--First NAME-->
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="firstName"></label>
                            <input id="reg-fname" name="firstname" value="" type="text" class="form-control" id="firstName" placeholder="Enter First Name">
                        </div>
                    </div>

                    <!--LAST NAME-->
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="lastName"></label>
                            <input id="reg-lname" name="lastname" value="" type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
                        </div>
                    </div>

                    <!--ZIP CODE-->
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="enterZip"></label>
                            <input id="reg-zipcode" name="zipcode" value="" type="text" class="form-control" id="enterZip" placeholder="Enter Zip Code">
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-md-4 offset-md-4">
                        <label></label>
                        <button type="submit" id="register-btn" class="btn btn-primary btn-block btn-lg"> Register! </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<!-- About Us -->

<section id="two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="m-t-0 text-primary">About Us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-2 offset-lg-1 col-md-4 text-xs-center">
                <div class="feature">
                    <img src="http://placehold.it/150x150" id="portraits">
                    <h6 class="text-uppercase">Christine Baba</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 text-xs-center">
                <div class="feature">
                    <img src="http://placehold.it/150x150" id="portraits">
                    <h6 class="text-uppercase">Eric Steinberg</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 text-xs-center">
                <div class="feature">
                    <img src="http://placehold.it/150x150" id="portraits">
                    <h6 class="text-uppercase">Matthew Holland</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 text-xs-center">
                <div class="feature">
                    <img src="http://placehold.it/150x150" id="portraits">
                    <h6 class="text-uppercase">Nigel Finley</h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 text-xs-center">
                <div class="feature">
                    <img src="http://placehold.it/150x150" id="portraits">
                    <h6 class="text-uppercase">Saidi Granados</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Us-->
<section id="last" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-xs-center">
                <h2 class="margin-top-0 wow fadeIn text-primary">Get in Touch</h2>
                <hr class="primary">
                <p>We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
            </div>
            <div class="col-lg-10 offset-lg-1 text-xs-center">
                <form class="contact-form row" id="emailForm">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Name" id="name">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Email" id="email">
                    </div>
                    <div class="col-md-12">
                        <label></label>
                        <textarea class="form-control" rows="9" placeholder="Your message here.." id="message"></textarea>
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <label></label>
                        <button id="submitEmail" type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <h6 class="text-uppercase">Bootstrap 4</h6>
                <ul class="list-unstyled">
                    <li><a href="https://medium.com/@bootply/bootstrap-4-whats-new-visual-guide-c84dd81d8387" target="ext">What's New</a></li>
                    <li><a href="http://codeply.com/tagged/bootstrap-4" target="ext">Examples</a></li>
                    <li><a href="http://getbootstrap.com" target="ext">Official</a></li>
                    <li><a href="http://www.codeply.com/go/p/bootstrap_4.0.alpha" target="ext">Playground</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 column">
                <h6 class="text-uppercase">About</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 column">
                <h6 class="text-uppercase">Stay Posted</h6>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-3 text-xs-right">
                <h6 class="text-uppercase">Follow</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"><a rel="nofollow" href="" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
                    <li class="list-inline-item"><a rel="nofollow" href="" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a></li>
                </ul>
            </div>
        </div>
        <br>
        <span class="pull-right text-muted small"><a href="http://bootstrap4.guide">Made by Themes.guide</a> ©2015-2016 Company</span>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<!-- Bootstrap 4 Alpha  Script-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script src="../../js/notify.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>