<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <form action="/Session/loginUser" method="POST" class="form-group">
                <h2> Please Sign In... </h2>
                <input type="text"  class="form-control" name="email" placeholder="Email Address"/>
                <br>
                <input type="password" class="form-control" name="password"     placeholder="Password"/>
                <br>
                <input type="submit" class="btn btn-md btn-primary" value="Sign In"/>
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </form>
        </div>
    </div>
</div>