<form action="/GnomeAPI/changeGnome/" method="POST">
  <input type="hidden" name="serial" value="QAZ123"><br>
  <input type="hidden" name="status" value="true"><br><br>
  <input type="submit" value="ON">
</form>
<form action="/GnomeAPI/changeGnome/" method="POST">
  <input type="hidden" name="serial" value="QAZ123"><br>
  <input type="hidden" name="status" value="false"><br><br>
  <input type="submit" value="OFF">
</form>