/* Dashboard CSS */

body, header {
    background-image: url('../images/swirl_pattern.png');

}

#topNav {
    margin: 0em -1em;
}

/* Side slider */
#slider {
    background-color: #eee;
    z-index: 9999999;
    /* Match the height of the nav bar */
    margin-top: 70px;
}
#slider h3 {
    background-color: #ED6A5A;
    color: #fff;
    font-size: 1.2em;
    padding: 15px;
    margin: 0;
    font-weight: 300;
}
#slider a {
    border-bottom: 1px solid #fff;
    padding: 1em;
    display: block;
    font-size: 1.4em;
    font-weight: 300;
    text-decoration: none;
    color: #363336;
}

header .header-content {
 margin-top: -2em;
}

.image-wrapper {
    height: 200px;
    width: 100px;
    margin-top: 10px;
}

.card-title {
    margin-top: 10px;
}


/* Handles the colors on the page */
h2, a.navbar-brand, .fa-plus  {
color: #ed6a5a;
}


hr.primary {
    border-color: #ed6a5a;
}
.card-title {
    color: #e9e3e6;
}

em {
    color: #e9e3e6;
}
.card {
    background-color: #608c9a;
}


a.nav-link {
    color: #363336;
}
/* End color scheme */


.card-deck .card {
    display: inherit;
}

.col-md-4, .col-xs-12, .col-sm-6 {
    margin-bottom: 20px;
}


/* Button Switch */
.onoffswitch {
    position: relative; width: 106px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #79828c; border-radius: 10px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 47px; padding: 0; line-height: 47px;
    font-size: 22px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    padding-right: 30px;
    background-color: #ed6a5a;; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #ed6a5a;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 14.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 55px;
    border: 2px solid #79828c; border-radius: 10px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.row{
    margin: 5px 5px 5px 5px ;


}

#footer{
    padding: 0 0 0 0;
    background-color: whitesmoke;

}

#followUs {
    color: #ed6a5a;
}




/* END OF BUTTON SWITCH */

/* For the CLOUDS animated images */

/* Media Query UPDATES */


